@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    /*--------------< Colors >--------------*/
    --primary-color: #f24942;
    --secondary-color: #00a59c;;
    --tertiary-color: #973be3;
    --secondary-color-dark: #018c85;
    --dark: 0 0 0;
    --dark-grey: #202020;
    --light-grey: #eeeeee;
    --clear-grey: #f7f7f7;
    --white: #fff;

    /*--------------< Sizes >--------------*/
    --base-size: 5vw;
    --min-size: 2.7rem;
    --max-size: 4rem;

    /*--------------< Ratios >--------------*/
    --base-ratio: 1;
    --large-ratio: 1.5;
    --medium-ratio: .5;
    --btn-svg-text-ratio: .6;
    --dice-ratio: 3.7;

    /*--------------< Responsive applications >--------------*/
    --base-clamp: clamp(calc(var(--min-size) * var(--base-ratio)), calc(var(--base-size) * var(--base-ratio)), calc(var(--max-size) * var(--base-ratio)));
    --large-clamp: clamp(calc(var(--min-size) * var(--large-ratio)), calc(var(--base-size) * var(--large-ratio)), calc(var(--max-size) * var(--large-ratio)));
    --medium-clamp: clamp(calc(var(--min-size) * var(--medium-ratio)), calc(var(--base-size) * var(--medium-ratio)), calc(var(--max-size) * var(--medium-ratio)));
    --btn-svg-text-clamp: clamp(calc(var(--min-size) * var(--btn-svg-text-ratio)), calc(var(--base-size) * var(--btn-svg-text-ratio)), calc(var(--max-size) * var(--btn-svg-text-ratio)));
    --dice-clamp: clamp(calc(var(--min-size) * var(--dice-ratio)), calc(var(--base-size) * var(--dice-ratio)), calc(var(--max-size) * var(--dice-ratio)));
    
    /*--------------< Animation >--------------*/
    --transition: .5s;
}

/*=====================================| RESET |=====================================*/
body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

button {
    border: none;
    outline: none;
    background: none;
    padding: 1rem;
    cursor: pointer;
}

/*=====================================| MAIN |=====================================*/
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    color: var(--dark-grey)
}

main, article {
    height: 100%;
}

main {
    width: 100%;
    background: var(--white);
}

article {
    position: relative;
    display: flex;
}

.player-screen, .game-condition, .player-global-score, .player-current-score {
    display: flex;
    flex-direction: column;
}

.player-screen, .player-global-score, .player-current-score {
    justify-content: space-between;
    align-items: center;
}

.player-screen {
    width: 50%;
    padding: var(--large-clamp) calc(var(--large-clamp) / 2);
}

.player-screen.active {
    background: var(--light-grey);
}

.player-screen h2 {
    font-size: var(--base-clamp);
    font-weight: 300;
    text-transform: uppercase;
}

.span-mark {
    width: var(--medium-clamp);
    aspect-ratio: 1 / 1;
    background: var(--primary-color);
    border-radius: 50%;
}

.span-mark.none {
    display: none;
}

.player-global-score > div:first-child {
    display: inherit;
    align-items: center;
    gap: var(--medium-clamp)
}

.player-global-score > div:last-child {
    font-size: var(--large-clamp);
    font-weight: 300;
    color: var(--primary-color);
}

.player-current-score {
    font-size: var(--medium-clamp);
    padding: calc(var(--base-clamp) / 2) var(--base-clamp);
    background: var(--primary-color);
    width: max-content;
}

.player-current-score span {
    line-height: 1;
}

.player-current-score span:first-child {
    text-transform: uppercase;
    margin-bottom: var(--medium-clamp);
}

.player-current-score span:last-child {
    font-size: var(--large-clamp);
    color: var(--light-grey);
}

.game-condition {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.game-condition button {
    display: inherit;
    align-items: center;
    align-self: center;
    gap: var(--medium-clamp);
    font-size: var(--btn-svg-text-clamp);
    font-weight: 400;
    text-transform: uppercase;
}

.game-condition button.main-btn {
    background: var(--secondary-color);
    color: var(--white);
    border-radius: .5rem;
    transition: background calc(var(--transition) * .5);
    padding: 1rem var(--medium-clamp);
    margin: var(--medium-clamp) 0;
}

.game-condition button.main-btn:hover {
    background: var(--secondary-color-dark);
}

.game-condition button svg {
    width: var(--btn-svg-text-clamp);
    height: auto;
    fill: none;
    stroke: var(--primary-color);
    stroke-width: .4rem;
}

.game-condition button.main-btn svg {
    stroke: var(--white);
}

.dice, .indicator {
    background: var(--white);
    box-shadow: 0 0 var(--medium-clamp) rgb(var(--dark) / .15);
}

.dice {
    width: var(--dice-clamp);
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
    margin: 20rem 0;
    padding: var(--medium-clamp);
}

.dice svg {
    width: 100%;
    height: auto;
    fill: var(--primary-color);
}

.indicator {
    max-width: 38rem;
    max-height: 6.5rem;
    font-size: var(--medium-clamp);
    padding: var(--medium-clamp);
    text-align: center;
}

.indicator strong {
    color: var(--primary-color);
    font-weight: 700;
}

.indicator.hidden {
    visibility: hidden;
}

@media screen and (max-width: 1050px) {
    body {
        padding: 0;
    }

    .dice {
        margin: 2rem 0
    }
}

@media screen and (max-width: 500px) {
    .player-global-score > div:first-child {
        position: relative;
    }

    .span-mark {
        position: absolute;
        width: calc(var(--medium-clamp) * .5);
        left: 50%;
        top: -1rem;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    :root {
        --base-size: 5vh;
    }
}